@model IEnumerable<Requirement_Management.Models.RequirementDetail>

@{
    ViewBag.Title = "Requirement Details";
}

<div class="">
    <div class="d-flex">
        <h4 class="text-center mx-auto p-2" style="border-bottom:2px solid #00bcd4;">Requirement Details</h4>
    </div>
    @*<p>
        @Html.ActionLink("Add Req.Detail", "Create", new { area = "" }, new { @class = "btn btn-success" })
    </p>*@
    <div class="table-responsive">
        <table class="table">
            <thead class="bg-dark text-white">
                <tr class="border">
                    <th>#</th>
                    <th>
                        Html.DisplayNameFor(model => model.Requirement)
                    </th>
                    <th>
                        Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Req. Type
                    </th>
                    <th>
                        Req. Id
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Star Marked
                    </th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var x = 1;
                }
                @foreach (var item in Model)
                {
                    <tr class="border">
                        <td>@x</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReqType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StarMarked)
                        </td>
                        <td class="text-center d-flex">
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info mx-1" })*@
                            @*<form action="/RequirementDetails/Delete/@item.Id" method="post" class="d-inline-block" onsubmit="return confirm('Do you really want to delete the requirement?');">
                                @Html.AntiForgeryToken()
                                <div class="">
                                    <input type="submit" value="Delete" class="btn btn-danger mx-1">
                                </div>
                            </form>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>