@model Requirement_Management.Models.Requirement

@{
    ViewBag.Title = "Add Requirement";
}

<div class="mx-auto p-0 col-11 col-sm-8 col-md-12 card mb-3 alert alert-secondary" >
    <div class="card-header bg-dark text-white p-2">
        <h4 class="text-center mx-auto my-0">New Requirement</h4>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal mx-auto p-1">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="d-flex">
                <div class="form-group mx-auto col-lg-4 my-2">
                    <label class="control-label w-100" for="Title"><b>Requirement Name:</b> <i class="text-danger">*required</i></label>
                    <div class="w-100">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @id = "Title" } })
                        <span class="text-danger ml-1 m-0 titleVal" style="font-family: none;display: none;">*Title can't be empty</span>
                    </div>
                </div>

                <div class="form-group mx-auto col-lg-4 my-2">
                    <label class="control-label w-100" for="Date"><b>Date:</b> <i class="text-danger">*required</i></label>
                    <div class="w-100">
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="Date" name="Date" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        <span class="text-danger ml-1 m-0 dateVal" style="font-family: none;display: none;">*Date can't be empty</span>
                    </div>
                </div>

                <div class="form-group mx-auto col-lg-4 my-2">
                    <label class="control-label w-100" for="CompanyId"><b>Company:</b> <i class="text-danger">*required</i></label>
                    <div class="w-100">
                        @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control", @id = "Company" })
                        @Html.ValidationMessageFor(model => model.CompanyId, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="form-group col-lg-4 my-2">
                    <label class="control-label" for="mulfiles"><b>Add Files:</b></label>
                    <div class="d-flex">
                        <input type="file" id="mulfiles" name="mulfiles" multiple>
                        <span class="field-validation-valid text-danger" data-valmsg-for="files" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
@*<div class="d-flex">
    <h4 class="text-center mx-auto p-2" style="border-bottom:2px solid #00bcd4;">Requirement Details</h4>
</div>*@

<div class="d-flex flex-column alert alert-info p-0">
    <div class="row m-2">
        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="Project"><b>Project:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    @Html.DropDownList("Project", null, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger ml-1 m-0 proVal" style="font-family: none; display: none;">*Project can't be empty</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="CategoryId"><b>Module Category:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", @id = "Category" })
                    <span class="text-danger ml-1 m-0 catVal" style="font-family: none;display: none;">*Software Category can't be empty</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="SoftwareId"><b>Modules:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    @Html.DropDownList("SoftwareId", (MultiSelectList)ViewBag.SoftwareId, new { @multiple = "multiple", @class = "form-control", @id = "Softwares" })
                    <span class="text-danger ml-1 m-0 softVal" style="font-family: none; display: none;">*Software can't be empty</span>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="ProjectSchedule"><b>Project Schedule:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    @Html.DropDownList("ProjectSchedule", null, htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger ml-1 m-0 scheVal" style="font-family: none; display: none;">*Project Schedule can't be empty</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="ReqMode"><b>Requirement Mode:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    <select class="form-control" id="ReqMode" name="ReqMode">
                        <option value="0">Project</option>
                        <option value="1">Task</option>
                        <option value="2">Maintenance</option>
                        <option value="3">Bug</option>
                        <option value="4">Free_Service</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Status" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label w-100" for="Requirement"><b>Requirement:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    <textarea class="form-control text-area single-line m-0" id="Requirement" name="Requirement" required="required" type="textarea" style="max-width: 300px;" rows="4" value=""></textarea>
                    <span class="text-danger ml-1 m-0 reqVal" style="font-family: none; display: none;">*Requirement can't be empty</span>
                </div>
            </div>
            
        </div>

        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="ReqProviderId"><b>Contact Person:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    @Html.DropDownList("ReqProviderId", null, htmlAttributes: new { @class = "form-control", @id = "Provider" })
                    <span class="text-danger ml-1 m-0 reqproVal" style="font-family: none; display: none;">*Requirement Provider can't be empty</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="Description"><b>Description:</b></label>
                <div class="w-100">
                    <textarea class="form-control text-area single-line m-0" id="Description" name="Description" required="required" type="textarea" style="max-width: 600px;" rows="7" value=""></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="ReqTypeId"><b>Requirement Type:</b></label>
                <div class="w-100">
                    @Html.DropDownList("ReqTypeId", null, htmlAttributes: new { @class = "form-control", @id = "Type" })
                    <span class="field-validation-valid text-danger" data-valmsg-for="Type" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label w-100" for="Status"><b>Status:</b></label>
                <div class="w-100">
                    @*@Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control", @id = "Status" })*@
                    @*@Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control", @id = "Status" })*@
                    <select class="form-control" id="Status" name="Status">
                        <option value="0">Submitted</option>
                        <option value="1">Verified</option>
                        <option value="2">Working</option>
                        <option value="3">Done</option>
                        <option value="4">Tested</option>
                        <option value="5">Deployed</option>
                        <option value="6">Canceled</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Status" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="Priority"><b>Priority:</b></label>
                <div class="w-100">
                    <select class="form-control" id="Priority" name="Priority">
                        <option value="0">High</option>
                        <option value="1">Mid</option>
                        <option value="2">Low</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Priority" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group mt-auto">
                <button class="btn btn-primary mx-auto" id="add" onclick="AddInfo();">Add</button>
            </div>
        </div>
    </div>
</div>


    <div class="my-2 text-center">
        <table class="w-100 table-sm" id="ReqTable">
            <thead class="bg-dark text-white">
                <tr class="border">
                    <th class="border">#SL</th>
                    <th style="display: none;">ProviderId</th>
                    <th class="border">
                        ReqProvider
                    </th>
                    <th style="display: none;">ProjectId</th>
                    <th class="border">
                        Project
                    </th>
                    <th style="display: none;">ScheduleId</th>
                    <th class="border">
                        Schedule
                    </th>
                    <th style="display: none;">CategoryId</th>
                    <th class="border">
                        Category
                    </th>
                    <th style="display: none;">SoftwaresId</th>
                    <th class="border">
                        Modules
                    </th>
                    <th class="border">
                        Requirement
                    </th>
                    <th class="border">
                        Description
                    </th>
                    <th style="display: none;">TypeId</th>
                    <th class="border">
                        Req. Type
                    </th>
                    <th style="display: none;">ReqModeId</th>
                    <th class="border">
                        Req. Mode
                    </th>
                    <th style="display: none;">StatusId</th>
                    <th class="border">
                        Status
                    </th>
                    <th style="display: none;">PriorityId</th>
                    <th class="border">
                        Priority
                    </th>
                    <th class="text-center" style="width: 130px;">Action</th>
                </tr>
            </thead>
            <tbody id="reqtable"></tbody>
        </table>
    </div>

    <div class="form-group d-flex my-4">
        <div class="d-inline-block mx-auto">
            <button class="btn btn-success mx-auto" id="save" onclick="Save();">Save</button>
            @Html.ActionLink("Back to List", "Index", new { @area = "" }, new { @class = "btn btn-info" })
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#Type").select2();
            $("#Project").select2();
            $("#ProjectSchedule").select2();
            $("#Category").select2();
            $("#Status").select2();
            $("#ReqMode").select2();
            $("#Priority").select2();
            $("#Provider").select2();
            $("#Company").select2();
            $("#Softwares").select2();
        });

        $("#Company").on('change', function () {

            $("#ReqTable").find("tr:gt(0)").remove();
            $("#Project").empty();
            $("#Provider").empty();
            var inputData = {
                'Id': this.value
            };

            $.get("/Requirements/GetProjects", inputData,
                function (data, status) {
                    //console.log(data);
                    var appendOptionsString = "";
                    for (var i = 0; i < data.length; i++) {
                        appendOptionsString = appendOptionsString +
                            "<option value=\"" + data[i].Id + "\" >" + data[i].Name + "</option>";
                    }
                    $("#Project").append(appendOptionsString);

                    if (data.length > 0) $("#Project").val(data[0].Id).trigger("change");
                    else {
                        $("#Category").empty();
                        $("#ProjectSchedule").empty();
                        $("#Softwares").empty();
                    }
                });

            $.get("/Requirements/GetReqProvider", inputData,
                function (data, status) {
                    //console.log(data);
                    var appendOptionsString = "";
                    for (var i = 0; i < data.length; i++) {
                        appendOptionsString = appendOptionsString +
                            "<option value=\"" + data[i].Id + "\" >" + data[i].Name + "</option>";
                    }
                    $("#Provider").append(appendOptionsString);

                    if (data.length > 0) $("#Provider").val(data[0].Id).trigger("change");

                });
        });

        $("#Project").on('change', function () {
            $("#Category").empty();
            $("#ProjectSchedule").empty();

            var inputData = {
                'Id': this.value
            };

            var category = "", schedule = "";
            if (curobj) {
                category = $(curobj).parent().parent().find(".categoryid").text();
                schedule = $(curobj).parent().parent().find(".scheduleid").text();
            }

            //console.log(softwareids.split(", "));
            
            var ok = false;
            $.get("/Requirements/GetSchedules", inputData,
                function (data, status) {
                    //console.log(data);
                    var appendOptionsString = "";
                    for (var i = 0; i < data.length; i++) {
                        appendOptionsString = appendOptionsString +
                            "<option value=\"" + data[i].Id + "\" >" + data[i].Mode + " - " + data[i].StartDate + "</option>";
                        if (data[i].Id == schedule) ok = true;
                    }
                    $("#ProjectSchedule").append(appendOptionsString);

                    if (data.length > 0 && (schedule == "" || ok == false)) schedule = data[0].Id;
                    $("#ProjectSchedule").val(schedule).trigger("change");
                });

            ok = false;
            $.get("/Requirements/GetCategories", inputData,
                function (data, status) {
                    //console.log(data);
                    var appendOptionsString = "";
                    for (var i = 0; i < data.length; i++) {
                        appendOptionsString = appendOptionsString +
                            "<option value=\"" + data[i].Id + "\" >" + data[i].Name + "</option>";
                        if (category == data[i].Id) ok = true;
                    }
                    $("#Category").append(appendOptionsString);

                    if (data.length > 0){
                        if (category == "" || ok == false) category = data[0].Id;
                        $("#Category").val(category).trigger("change");
                    }
                    else {
                        $("#Softwares").empty();
                    }
                });

        });

        $("#Category").on('change', function () {
            $("#Softwares").empty();
            var inputData = {
                'ProjectId': $("#Project").val(),
                'CategoryId': this.value
            };

            var softwareids = "";
            if (curobj) {
                softwareids = $(curobj).parent().parent().find(".softwaresid").text();
            }

            //console.log(inputData);
            $.get("/Requirements/GetProjectSoftwares", inputData,
                function (data, status) {
                    //console.log(data);
                    var appendOptionsString = "";
                    for (var i = 0; i < data.length; i++) {
                        appendOptionsString = appendOptionsString +
                            "<option value=\"" + data[i].Id + "\" >" + data[i].Name + "</option>";
                    }
                    $("#Softwares").append(appendOptionsString);
                    $("#Softwares").val(softwareids.split(", ")).trigger("change");
                });

        });

        $("#ProjectSchedule").on('change', function () {
            var inputData = {
                'Id': this.value
            };

            $.get("/Requirements/GetMode", inputData,
                function (data, status) {
                    var modeid = data;
                    if (curobj)     modeid = $(curobj).parent().parent().find(".reqmodeid").text();
                    $("#ReqMode").val(modeid).trigger("change");
                });
        });

        $("#Company").trigger("change");

        var editstat = false;
        var curobj = null;

        function validateDetail() {
            var validation = true;
            var pro = $("#Project").val();
            if (pro == null) {
                $("#Project").parent().find(".proVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Project").parent().find(".proVal").css("display", "none"); }

            var sche = $("#ProjectSchedule").val();
            if (sche == null) {
                $("#ProjectSchedule").parent().find(".scheVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#ProjectSchedule").parent().find(".scheVal").css("display", "none"); }

            var req = $("#Requirement").val();
            if (req == "") {
                $("#Requirement").parent().find(".reqVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Requirement").parent().find(".reqVal").css("display", "none"); }

            var category = $("#Category").val();
            if (category == null) {
                $("#Category").parent().find(".catVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Category").parent().find(".catVal").css("display", "none"); }

            var softwareData = $("#Softwares").select2('data');;
            if (softwareData.length == 0) {
                $("#Softwares").parent().find(".softVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Softwares").parent().find(".softVal").css("display", "none"); }
            return validation;
        }


        function AddInfo() {
            var softwareData = $("#Softwares").select2('data');

            var softwareIds = "";
            var softwares = "";

            if (softwareData.length == 0) {
                $("#Softwares").find('option').prop("selected", true);
                $("#Softwares").trigger('change');
                softwareData = $("#Softwares").select2('data');
            }

            var validation = validateDetail();
            if (!validation) return;

            for (var i = 0; i < softwareData.length; i++) {
                softwareIds += softwareData[i].id + (i + 1 < softwareData.length ? ", " : "");
                softwares += softwareData[i].text + (i + 1 < softwareData.length ? ", " : "");
            }

            if (editstat) {
                $(curobj).parent().parent().find(".providerid").text($("#Provider").val());
                $(curobj).parent().parent().find(".provider").text($("#Provider option:selected").text());
                $(curobj).parent().parent().find(".projectid").text($("#Project").val());
                $(curobj).parent().parent().find(".project").text($("#Project option:selected").text());
                $(curobj).parent().parent().find(".scheduleid").text($("#ProjectSchedule").val());
                $(curobj).parent().parent().find(".schedule").text($("#ProjectSchedule option:selected").text());
                $(curobj).parent().parent().find(".categoryid").text($("#Category").val());
                $(curobj).parent().parent().find(".category").text($("#Category option:selected").text());
                $(curobj).parent().parent().find(".requirement").text($("#Requirement").val());
                $(curobj).parent().parent().find(".description").text($("#Description").val());
                $(curobj).parent().parent().find(".typeid").text($("#Type").val());
                $(curobj).parent().parent().find(".type").text($("#Type option:selected").text());
                $(curobj).parent().parent().find(".reqmodeid").text($("#ReqMode").val());
                $(curobj).parent().parent().find(".reqmode").text($("#ReqMode option:selected").text());
                $(curobj).parent().parent().find(".softwaresid").text(softwareIds);
                $(curobj).parent().parent().find(".softwares").text(softwares);
                $(curobj).parent().parent().find(".statusid").text($("#Status").val());
                $(curobj).parent().parent().find(".status").text($("#Status option:selected").text());
                $(curobj).parent().parent().find(".prioid").text($("#Priority").val());
                $(curobj).parent().parent().find(".prio").text($("#Priority option:selected").text());

                $(curobj).parent().find(".btn-danger").attr("disabled", false);
                editstat = false;
                curobj = null;
            }
            else {
                var x = $("#StarMarked").is(":checked") ? 1 : 0;
                var sl = parseInt($('#reqtable tr:last').find('.sl').text());
                if ($('#reqtable tr:last').find('.sl').text() == "") sl = 0;

                $("#reqtable").append(
                    '<tr class="border">' +
                        '<td class="sl border">' + ++sl + '</td>' +
                        '<td class="providerid" style="display:none;" >' + $("#Provider").val() + '</td>' +
                        '<td class="provider border" >' + $("#Provider option:selected").text() + '</td>' +
                        '<td class="projectid" style="display:none;" >' + $("#Project").val() + '</td>' +
                        '<td class="project border" >' + $("#Project option:selected").text() + '</td>' +
                        '<td class="scheduleid" style="display:none;" >' + $("#ProjectSchedule").val() + '</td>' +
                        '<td class="schedule border" >' + $("#ProjectSchedule option:selected").text() + '</td>' +
                        '<td class="categoryid" style="display:none;" >' + $("#Category").val() + '</td>' +
                        '<td class="category border">' + $("#Category option:selected").text() + '</td>' +
                        '<td class="softwaresid" style="display:none;" >' + softwareIds + '</td>' +
                        '<td class="softwares border">' + softwares + '</td>' +
                        '<td class="requirement border">' + $("#Requirement").val() + '</td>' +
                        '<td class="description border" style="width: 200px;" >' + $("#Description").val() + '</td>' +
                        '<td class="typeid" style="display:none;" >' + $("#Type").val() + '</td>' +
                        '<td class="type border">' + $("#Type option:selected").text() + '</td>' +
                        '<td class="reqmodeid" style="display:none;" >' + $("#ReqMode").val() + '</td>' +
                        '<td class="reqmode border">' + $("#ReqMode option:selected").text() + '</td>' +
                        '<td class="statusid" style="display:none;" >' + $("#Status").val() + '</td>' +
                        '<td class="status border">' + $("#Status option:selected").text() + '</td>' +
                        '<td class="prioid" style="display:none;" >' + $("#Priority").val() + '</td>' +
                        '<td class="prio border">' + $("#Priority option:selected").text() + '</td>' +
                        '<td class="text-center">' +
                            '<button class="btn btn-info btn-sm mx-1" id="edit" onclick="editRow(this);">Edit</button>' +
                            '<button class="btn btn-danger btn-sm" id="delete" onclick="deleteRow(this);">Delete</button>' +
                        '</td>' +
                    '</tr>'
                );
            }

            $("#Provider").val($('#Provider option:first-child').val()).trigger("change");
            $("#Requirement").val(null);
            $("#Description").val(null);
            $("#Project").val($('#Project option:first-child').val()).trigger("change");
            $("#Type").val($('#Type option:first-child').val()).trigger("change");
            $("#ReqMode").val('0').trigger("change");
            $("#Status").val('0').trigger("change");
            $("#Priority").val('0').trigger("change");
        }

        function deleteRow(rowobj) {
            $(rowobj).parent().parent().remove();

            var table = document.getElementById("reqtable");
            for (i = 0; i < table.rows.length; i++) {
                $(table.rows[i]).find(".sl").text(i+1);
            }
        }

        function editRow(rowobj) {
            if (curobj != null) {
                $(curobj).parent().find(".btn-danger").attr("disabled", false);
            }

            curobj = rowobj;

            $("#Provider").val($(rowobj).parent().parent().find(".providerid").text()).trigger("change");
            $("#Project").val($(rowobj).parent().parent().find(".projectid").text()).trigger("change");
            $("#Requirement").val($(rowobj).parent().parent().find(".requirement").text());
            $("#Description").val($(rowobj).parent().parent().find(".description").text());
            $("#Type").val($(rowobj).parent().parent().find(".typeid").text()).trigger("change");
            $("#Status").val($(rowobj).parent().parent().find(".statusid").text()).trigger("change");
            $("#ReqMode").val($(rowobj).parent().parent().find(".reqmodeid").text()).trigger("change");
            $("#Priority").val($(rowobj).parent().parent().find(".prioid").text()).trigger("change");
            
            editstat = true;

            $(rowobj).parent().find(".btn-danger").attr("disabled", true);
        }

        function validateReq() {
            var validation = true;
            var req = $("#Title").val();
            if (req == "") {
                $("#Title").parent().find(".titleVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Title").parent().find(".titleVal").css("display", "none"); }

            if ($("#Date").val() == "") {
                $("#Date").parent().find(".dateVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Date").parent().find(".dateVal").css("display", "none"); }

            var table = document.getElementById("reqtable");
            if (table.rows.length == 0) {
                alert("Requirements Detail Can't Be Empty.")
                validation = false;
            }

            return validation;
        }

        function Save() {

            var validation = validateReq();
            if (!validation) return;

            var files = $("#mulfiles").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("mulfiles", files[i]);
            }

            var Detailrows = [];

            var table = document.getElementById("reqtable");

            for (var i = 0; i < table.rows.length; i++) {
                rowData = {
                    'ReqProviderId': $(table.rows[i]).find(".providerid").text(),
                    'ProjectId': $(table.rows[i]).find(".projectid").text(),
                    'ProjectScheduleId': $(table.rows[i]).find(".scheduleid").text(),
                    'SoftCategoryId': $(table.rows[i]).find(".categoryid").text(),
                    'ReqSoftwareId': $(table.rows[i]).find(".softwaresid").text(),

                    'Requirement': $(table.rows[i]).find(".requirement").text(),
                    'Description': $(table.rows[i]).find(".description").text(),
                    'ReqTypeId': $(table.rows[i]).find(".typeid").text(),
                    'ReqMode': $(table.rows[i]).find(".reqmodeid").text(),
                    'Status': $(table.rows[i]).find(".statusid").text(),
                    'Priority': $(table.rows[i]).find(".prioid").text()
                };
                Detailrows.push(rowData);
            }

            for (var pair of fileData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }

            $.ajax({
                type: "POST",
                url: "/Requirements/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {
                    console.log(result.filepaths);
                    if (!result.error) {
                        alert(result.message);
                        var inputData = {
                            'Title': $("#Title").val(),
                            'Date': $("#Date").val(),
                            'CompanyId': $("#Company").val(),

                            'FilePath': result.filepaths,
                            'ReqDetail': Detailrows
                        };
                    }
                    else {
                        var inputData = {
                            'Title': $("#Title").val(),
                            'Date': $("#Date").val(),
                            'CompanyId': $("#Company").val(),

                            'ReqDetail': Detailrows
                        };
                    }

                    $.post("/Requirements/Create", inputData,
                    function (data, status) {
                        if (data.Id) {
                            alert("Operation Successfull.");
                            location.replace("/Requirements");
                        }
                    });
                    console.log(inputData);
                },
                error: function (result, status, xhr) {
                    alert(result.message);
                }
            });

        }

    </script>
}