@model Requirement_Management.ViewModels.RequirementView

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    <h2 class="text-center mt-5" style="font-family: 'Font Awesome 5 Pro';">@Model.Title</h2>
    <hr class="col-3 mt-2" style="border: 1px solid;">
    <div class="col-sm-6 mx-auto" style="font-family: monospace; font-size: larger;">
        @if (@Model.CompanyName != null)
        {
            <h6 class="text-center col">Company: @Model.CompanyName</h6>
        }
        @if (@Model.ReqProviderName != null)
        {
            <h6 class="text-center col">Provider: @Model.ReqProviderName</h6>
        }
    </div>
    <div class="px-2 d-flex justify-content-between">
        <h6 style="font-family: monospace;">Id: @Model.Id</h6>
        <h6 style="font-family: monospace;">Date: @Model.Date.ToString("dd/MM/yyyy")</h6>
    </div>
    <div class="table-responsive mb-2 d-print-table">
        <table class="table">
            <thead class="bg-light">
                <tr class="border">
                    <th class="border">#</th>
                    <th class="border" style="width: 12%;">
                        Requirement
                    </th>
                    <th class="border" style="width: 15%;">
                        Description
                    </th>
                    <th class="border" style="width: 17%;">
                        Requirement Type
                    </th> 
                    <th class="border" style="width: 18%;">
                        Software Category
                    </th>
                    <th class="border">
                        Softwares
                    </th>
                    <th class="border">
                        Status
                    </th>
                    <th class="border">
                        Workdays
                    </th>
                    @*<th class="border">
                        Star Marked
                    </th>*@
                </tr>
            </thead>
            <tbody id="reqtable">
                @{ var x = 1; }
                @foreach (var item in Model.ReqDetail)
                {
                    int status = (int)item.Status;

                    <tr class="border">
                        <td class="border">@x<b class="text-danger">@{x++; @((item.StarMarked) ? "*" : ""); }</b></td>
                        <td class="requirement border">@Html.DisplayFor(modelItem => item.Requirement)</td>
                        <td class="description border">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="type border">@item.ReqTypeName</td>
                        <td class="category border">@item.SoftCategoryName</td>
                        <td class="softwares border">@item.ReqSoftwareName</td>
                        <td class="status border">@Html.DisplayFor(modelItem => item.Status)</td>
                        <td class="workdays border">@Html.DisplayFor(modelItem => item.Workdays)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center flex-wrap my-2 mb-4">
        @{
            foreach (var item in Model.FilePath)
            {
                <div class="d-flex flex-column mx-3 m-1 img-thumbnail bg-light">
                    <img src="\Uploads\@item" class="file" alt="@item" width="150" height="150">
                </div>
            }
        }
    </div>
    <button onclick="window.print()" class="btn btn-success d-print-none mx-auto d-block">Print <i class="fas fa-file-pdf"></i></button>

</div>

