@model Requirement_Management.ViewModels.RequirementView

@{
    ViewBag.Title = "Edit Requirement";
}

<div class="mx-auto p-0 col-11 col-sm-8 col-md-12 card mb-3 alert alert-secondary" @*style="position: absolute; left: 0; right: 0;top: 20%; bottom: 24.4%;"*@>
    <div class="card-header bg-dark text-white p-2">
        <h4 class="text-center mx-auto my-0">Edit Requirement</h4>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal mx-auto p-1">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="d-flex">
                <div class="form-group mx-auto col-lg-4 my-2">
                    <label class="control-label w-100" for="Title"><b>Title:</b> <i class="text-danger">*required</i></label>
                    <div class="w-100">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @id = "Title" } })
                        <span class="text-danger ml-1 m-0 titleVal" style="font-family: none;display: none;">*Title can't be empty</span>
                    </div>
                </div>

                <div class="form-group mx-auto col-lg-4 my-2">
                    <label class="control-label w-100" for="Date"><b>Date:</b> <i class="text-danger">*required</i></label>
                    <div class="w-100">
                        @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "Date", @type = "date"} })*@
                        <input class="form-control text-box single-line valid" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="Date" name="Date" type="date" value="@Model.Date.ToString("yyyy-MM-dd")">
                        <span class="text-danger ml-1 m-0 dateVal" style="font-family: none;display: none;">*Date can't be empty</span>
                    </div>
                </div>

                <div class="form-group mx-auto col-lg-4 my-2">
                    <label class="control-label w-100" for="CompanyId"><b>Company:</b></label>
                    <div class="w-100">
                        @Html.DropDownList("CompanyId", null, "", htmlAttributes: new { @class = "form-control", @id = "Company" })
                        @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="form-group col-lg-4 my-2">
                    <label class="control-label" for="ReqProviderId"><b>Requirement Provider:</b></label>
                    <div class="d-flex">
                        @Html.DropDownList("ReqProviderId", null, "", htmlAttributes: new { @class = "form-control", @id = "Provider" })
                        @Html.ValidationMessageFor(model => model.ReqProviderId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-lg-4 my-2">
                    <label class="control-label" for="mulfiles"><b>Add Files:</b></label>
                    <div class="d-flex">
                        <input type="file" id="mulfiles" name="mulfiles" multiple>
                        <span class="field-validation-valid text-danger" data-valmsg-for="files" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4 my-2 d-flex align-items-end">
                    <div class="d-flex">
                        <button class="btn btn-success m-1" id="save" onclick="Save();">Save</button>
                        @Html.ActionLink("Back to List", "Index", new { @area = "" }, new { @class = "btn btn-info m-1" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex flex-column alert alert-info p-0">
    <div class="row m-2">
        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="CategoryId"><b>Software Category:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", @id = "Category" })
                    <span class="text-danger ml-1 m-0 catVal" style="font-family: none;display: none;">*Software Category can't be empty</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="SoftwareId"><b>Softwares:</b></label>
                <div class="w-100">
                    @Html.DropDownList("SoftwareId", (MultiSelectList)ViewBag.SoftwareId, new { @multiple = "multiple", @class = "form-control", @id = "Softwares" })
                    <span class="text-danger ml-1 m-0 softVal" style="font-family: none;display: none;">*Software can't be empty</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="Requirement"><b>Requirement:</b> <i class="text-danger">*required</i></label>
                <div class="w-100">
                    <textarea class="form-control text-area single-line m-0" id="Requirement" name="Requirement" required="required" type="textarea" style="max-width: 300px;" rows="4" value=""></textarea>
                    <span class="text-danger ml-1 m-0 reqVal" style="font-family: none;display: none;">*Requirement can't be empty</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="StarMarked"><b>Star Marked:</b></label>
                <div class="w-100">
                    <div class="checkbox">
                        <input class="check-box" data-val="true" data-val-required="The StarMarked field is required." id="StarMarked" name="StarMarked" type="checkbox" value="true">
                        <input id="StarMarked" name="StarMarked" type="hidden" value="false">
                        <span class="field-validation-valid text-danger" data-valmsg-for="StarMarked" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="Description"><b>Description:</b></label>
                <div class="w-100">
                    <textarea class="form-control text-area single-line m-0" id="Description" name="Description" required="required" type="textarea" style="max-width: 600px;" rows="7" value=""></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-3">
            <div class="form-group">
                <label class="control-label w-100" for="ReqTypeId"><b>Requirement Type:</b></label>
                <div class="w-100">
                    @Html.DropDownList("ReqTypeId", null, htmlAttributes: new { @class = "form-control", @id = "Type" })
                    <span class="field-validation-valid text-danger" data-valmsg-for="Type" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label w-100" for="Status"><b>Status:</b></label>
                <div class="w-100">
                    @*@Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control", @id = "Status" })*@
                    @*@Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control", @id = "Status" })*@
                    <select class="form-control" id="Status" name="Status">
                        <option value="0">Submitted</option>
                        <option value="1">Verified</option>
                        <option value="2">Working</option>
                        <option value="3">Done</option>
                        <option value="4">Tested</option>
                        <option value="5">Deployed</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Status" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-100" for="Workdays"><b>Workdays:</b></label>
                <div class="w-100">
                    <input class="form-control" type="number" id="Workdays" name="Workdays">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mx-auto" id="add" onclick="AddInfo();">Add</button>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive my-2">
    <table class="table table-sm">
        <thead class="bg-dark text-white">
            <tr class="border">
                <th style="display: none;">CategoryId</th>
                <th>
                    Category
                </th>
                <th style="display: none;">SoftwaresId</th>
                <th>
                    Softwares
                </th>
                <th style="display: none;">Id</th>
                <th>
                    Requirement
                </th>
                <th>
                    Description
                </th>
                <th style="display: none;">TypeId</th>
                <th>
                    Req. Type
                </th>
                <th style="display: none;">ReqId</th>
                <th style="display: none;">StatusId</th>
                <th>
                    Status
                </th>
                <th style="display: none;">StarMarkedId</th>
                <th>
                    Star Marked
                </th>
                <th>
                    Workdays
                </th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="reqtable">
            @foreach (var item in Model.ReqDetail)
            {
                int status = (int)item.Status;

                <tr class="border">
                    <td class="categoryid" style="display: none;">@Html.DisplayFor(modelItem => item.SoftCategoryId)</td>
                    <td class="category">@item.SoftCategoryName</td>
                    <td class="softwaresid" style="display: none;">@Html.DisplayFor(modelItem => item.ReqSoftwareId)</td>
                    <td class="softwares">@item.ReqSoftwareName</td>
                    <td class="id" style="display: none;">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td class="requirement">@Html.DisplayFor(modelItem => item.Requirement)</td>
                    <td class="description">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="typeid" style="display: none;">@Html.DisplayFor(modelItem => item.ReqTypeId)</td>
                    <td class="type">@item.ReqTypeName</td>
                    <td class="reqid" style="display: none;">@Html.DisplayFor(modelItem => item.ReqId)</td>
                    <td class="statusid" style="display: none;">@status</td>
                    <td class="status">@Html.DisplayFor(modelItem => item.Status)</td>
                    <td class="starmarkedid" style="display: none;">@((item.StarMarked) ? 1 : 0)</td>
                    <td class="starmarked">@((item.StarMarked) ? "Yes" : "No")</td>
                    <td class="workdays">@Html.DisplayFor(modelItem => item.Workdays)</td>
                    <td class="text-center">
                        <button class="btn btn-info btn-sm mx-1" id="edit" onclick="editRow(this);">Edit</button>                        
                        <button class="btn btn-danger btn-sm mx-1" id="delete" onclick="deleteRow(this);">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center flex-wrap my-5">
    @{
        foreach (var item in Model.FilePath)
        {
            <div class="d-flex flex-column mx-3 m-1 img-thumbnail bg-light">
                <img src="\Uploads\@item" class="file" alt="@item" width="230" height="230">
                <button class="btn btn-danger mx-auto my-2" id="delete" onclick="deleteFile(this);">Delete</button>
            </div>
        }
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#Type").select2();
            $("#Category").select2();
            $("#Status").select2();
            $("#Provider").select2();
            $("#Company").select2();
            $("#Softwares").select2();
        });

        $("#Category").on('change', function () {

            $("#Softwares").empty();

            var inputData = {
                'Id': this.value
            };

            var softwareids = "";
            if (curobj) {
                softwareids = $(curobj).parent().parent().find(".softwaresid").text();
            }

            console.log(softwareids.split(", "));

            $.get("/Requirements/GetSoftwares", inputData,
                function (data, status) {

                    //console.log(data);

                    var appendOptionsString = "";
                    for (var i = 0; i < data.length; i++) {
                        appendOptionsString = appendOptionsString +
                            "<option value=\"" + data[i].Id + "\" >" + data[i].Name + "</option>";
                    }
                    $("#Softwares").append(appendOptionsString);
                    $("#Softwares").val(softwareids.split(", ")).trigger("change");
                });

        });

        $("#Category").trigger("change");

        var editstat = false;
        var curobj = null;

        function validateDetail() {
            var validation = true;
            var req = $("#Requirement").val();
            if (req == "") {
                $("#Requirement").parent().find(".reqVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Requirement").parent().find(".reqVal").css("display", "none"); }

            var category = $("#Category").val();
            if (category == null) {
                $("#Category").parent().find(".catVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Category").parent().find(".catVal").css("display", "none"); }

            var softwareData = $("#Softwares").select2('data');;
            if (softwareData.length == 0) {
                $("#Softwares").parent().find(".softVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Softwares").parent().find(".softVal").css("display", "none"); }
            return validation;
        }

        function AddInfo() {

            var softwareData = $("#Softwares").select2('data');

            var softwareIds = "";
            var softwares = "";

            if (softwareData.length == 0) {
                $("#Softwares").find('option').prop("selected", true);
                $("#Softwares").trigger('change');
                softwareData = $("#Softwares").select2('data');
            }

            var validation = validateDetail();
            if (!validation) return;

            for (var i = 0; i < softwareData.length; i++) {
                softwareIds += softwareData[i].id + (i + 1 < softwareData.length ? ", " : "");
                softwares += softwareData[i].text + (i + 1 < softwareData.length ? ", " : "");
            }

            //console.log(softwares);
            //console.log(softwareIds);

            if (editstat) {
                $(curobj).parent().parent().find(".categoryid").text($("#Category").val());
                $(curobj).parent().parent().find(".category").text($("#Category option:selected").text());
                $(curobj).parent().parent().find(".requirement").text($("#Requirement").val());
                $(curobj).parent().parent().find(".description").text($("#Description").val());
                $(curobj).parent().parent().find(".typeid").text($("#Type").val());
                $(curobj).parent().parent().find(".type").text($("#Type option:selected").text());
                $(curobj).parent().parent().find(".softwaresid").text(softwareIds);
                $(curobj).parent().parent().find(".softwares").text(softwares);
                $(curobj).parent().parent().find(".statusid").text($("#Status").val());
                $(curobj).parent().parent().find(".status").text($("#Status option:selected").text());
                $(curobj).parent().parent().find(".starmarkedid").text($("#StarMarked").is(":checked") ? 1 : 0);
                $(curobj).parent().parent().find(".starmarked").text(($("#StarMarked").is(":checked") ? "Yes" : "No"));
                $(curobj).parent().parent().find(".workdays").text($("#Workdays").val());

                var inputData = {
                    'Id': $(curobj).parent().parent().find(".id").text(),
                    'Requirement': $("#Requirement").val(),
                    'Description': $("#Description").val(),
                    'ReqTypeId': $("#Type").val(),
                    'ReqId': $("#Id").val(),
                    'Status': $("#Status").val(),
                    'StarMarked': $("#StarMarked").is(":checked") ? true : false,
                    'SoftCategoryId': $("#Category").val(),
                    'Workdays': $("#Workdays").val(),

                    'ReqSoftwareId': softwareIds
                };

                console.log(inputData);

                $.post("/Requirements/EditReqDetail", inputData,
                    function (data, status) {
                        if (data.Id) {
                            alert("Operation Successfull.");
                        }
                    });

                $(curobj).parent().find(".btn-danger").attr("disabled", false);
                editstat = false;
                curobj = null;

            }
            else {

                var x = $("#StarMarked").is(":checked") ? 1 : 0;

                $("#reqtable").append(
                   '<tr class="border">' +
                        '<td class="categoryid" style="display:none;" >' + $("#Category").val() + '</td>' +
                        '<td class="category">' + $("#Category option:selected").text() + '</td>' +
                        '<td class="softwaresid" style="display:none;" >' + softwareIds + '</td>' +
                        '<td class="softwares">' + softwares + '</td>' +
                        '<td class="id" style="display: none;"></td>' +
                        '<td class="requirement">' + $("#Requirement").val() + '</td>' +
                        '<td class="description d-block p-0" style="width: 300px;" >' + $("#Description").val() + '</td>' +
                        '<td class="typeid" style="display:none;" >' + $("#Type").val() + '</td>' +
                        '<td class="type">' + $("#Type option:selected").text() + '</td>' +
                        '<td class="statusid" style="display:none;" >' + $("#Status").val() + '</td>' +
                        '<td class="status">' + $("#Status option:selected").text() + '</td>' +
                        '<td class="starmarkedid" style="display:none;">' + x + '</td>' +
                        '<td class="starmarked">' + ($("#StarMarked").is(":checked") ? "Yes" : "No") + '</td>' +
                        '<td class="workdays">' + $("#Workdays").val() + '</td>' +
                        '<td class="text-center">' +
                            '<button class="btn btn-info btn-sm mx-1" id="edit" onclick="editRow(this);">Edit</button>' +
                            '<button class="btn btn-danger btn-sm mx-1" id="delete" onclick="deleteRow(this);">Delete</button>' +
                        '</td>' +
                    '</tr>'
                );

                var inputData = {
                    'Requirement': $("#Requirement").val(),
                    'Description': $("#Description").val(),
                    'ReqTypeId': $("#Type").val(),
                    'ReqId' : $("#Id").val(),
                    'Status': $("#Status").val(),
                    'StarMarked': $("#StarMarked").is(":checked") ? true : false,
                    'SoftCategoryId': $("#Category").val(),
                    'Workdays': $("#Workdays").val(),

                    'ReqSoftwareId': softwareIds
                };

                console.log(inputData);

                $.post("/Requirements/AddReqDetail", inputData,
                    function (data, status) {
                        if (data.Id) {
                            var table = document.getElementById("reqtable");
                            table.rows[table.rows.length - 1].cells[4].innerText = data.Id;
                            alert("Operation Successfull.");
                        }
                    });

            }

            $("#Requirement").val(null);
            $("#Description").val(null);
            $("#Type").val($('#Type option:first-child').val()).trigger("change");
            //$("#Softwares").val(null).trigger("change");
            $("#Status").val('0').trigger("change");
            $("#StarMarked").prop('checked', false);
        }

        function validateRemoveDetail() {
            var validation = true;
            var table = document.getElementById("reqtable");
            if (table.rows.length == 1) {
                alert("Requirements Detail Can't Be Empty.")
                validation = false;
            }
            return validation;
        }

        function deleteRow(rowobj) {
            var validation = validateRemoveDetail();

            if (!validation) return;

            var inputData = {
                'Id': $(rowobj).parent().parent().find(".id").text()
            };
            $.post("/Requirements/DeleteReqDetail", inputData,
                   function (data, status) {
                       if (data.Id) {
                           alert("Operation Successfull.");
                           $(rowobj).parent().parent().remove();
                       }
                   });

        }

        var fileobj;
        function deleteFile(fileobj) {
            var fname = $(fileobj).parent().find(".file").attr("alt");
            console.log(fname);
            var inputData = {
                'Filename': fname
            };
            $.post("/Requirements/DeleteFile", inputData,
                   function (data, status) {
                       if (data.Id) {
                           alert("Operation Successfull.");
                           $(fileobj).parent().remove();
                       }
                   });
        }

        function editRow(rowobj) {

            if (curobj != null) {
                $(curobj).parent().find(".btn-danger").attr("disabled", false);
            }

            curobj = rowobj;

            $("#Category").val($(rowobj).parent().parent().find(".categoryid").text()).trigger("change");
            $("#Requirement").val($(rowobj).parent().parent().find(".requirement").text());
            $("#Description").val($(rowobj).parent().parent().find(".description").text());
            $("#Type").val($(rowobj).parent().parent().find(".typeid").text()).trigger("change");
            $("#Status").val($(rowobj).parent().parent().find(".statusid").text()).trigger("change");
            if ($(rowobj).parent().parent().find(".starmarkedid").text() == '1') $("#StarMarked").prop('checked', true);
            else $("#StarMarked").prop('checked', false);
            $("#Workdays").val($(rowobj).parent().parent().find(".workdays").text());

            editstat = true;

            $(rowobj).parent().find(".btn-danger").attr("disabled", true);
        }

        function validateReq() {
            var validation = true;
            var req = $("#Title").val();
            if (req == "") {
                $("#Title").parent().find(".titleVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Title").parent().find(".titleVal").css("display", "none"); }
            
            if ($("#Date").val() == "") {
                $("#Date").parent().find(".dateVal").css("display", "inline-block");
                validation = false;
            }
            else { $("#Date").parent().find(".dateVal").css("display", "none"); }
            return validation;
        }

        function Save() {

            var validation = validateReq();

            if (!validation) return;

            var files = $("#mulfiles").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("mulfiles", files[i]);
            }

            $.ajax({
                type: "POST",
                url: "/Requirements/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {
                    alert(result.message);
                    console.log(result.filepaths);
                    if (!result.error) {
                        var inputData = {
                            'Id': $("#Id").val(),
                            'Title': $("#Title").val(),
                            'Date': $("#Date").val(),
                            'CompanyId': $("#Company").val(),
                            'ReqProviderId': $("#Provider").val(),

                            'FilePath': result.filepaths,
                        };
                    }
                    else {
                        var inputData = {
                            'Id': $("#Id").val(),
                            'Title': $("#Title").val(),
                            'Date': $("#Date").val(),
                            'CompanyId': $("#Company").val(),
                            'ReqProviderId': $("#Provider").val(),
                        };
                    }

                    $.post("/Requirements/EditReq", inputData,
                    function (data, status) {
                        if (data.Id) {
                            alert("Operation Successfull.");
                            //location.replace("/Requirements");
                            console.log(inputData);
                        }
                    });
                },
                error: function (result, status, xhr) {
                    alert(result.message);
                }
            });

        }

    </script>
}
